{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/style_login.css' %}">
{% endblock css %}

{% block content-conteiner %}
    {% if request.user.is_authenticated %}
         <p class="is-auth"> Вы уже авторизованны </p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% for f in form%}
                <p>
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label><br>{{ f }}
                </p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            {{ form.non_field_errors }}
            <button type="submit">Войти</button>
        </form>
    {% endif %}
{% endblock %}