p{
    color: rgb(255, 248, 242);
}

.content-conteiner{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

/*Отзывы*/
/*---------------------------------------------------------------------------------------------*/
.feedbacks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    width: 90%;
}

.feedback{
    width: 100%;
    border: 3px solid rgb(150, 57, 29);
    margin: 10px;
    box-shadow: 10px 10px 10px rgba(150, 57, 29, 0.7);

}

.feedback .user-name, .add-feedback .title-form{
    margin: 0px;
    min-height: 40px;
    background-color: rgb(150, 57, 29);
    font-size: 24px;

}

.feedback .content{
    margin: 0px;
    padding: 10px;
    background-color: rgb(181, 81, 51);
    font-size: 20px;
}

/* Форма добавления отзыва*/
/*---------------------------------------------------------------------------------------------*/
.form{
    display: flex;
}

.add-feedback{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 90%;
    border: 3px solid rgb(150, 57, 29);
    margin: 10px;
    box-shadow: 10px 10px 10px rgba(150, 57, 29, 0.7);
}

textarea{
    resize: none;
}



